@import "bootstrap-new-age-v6-0-0.css";

.sponsor-button {
    background-color: #dee2e6;
    flex-grow: 1;
    border: 1px solid darkgrey;
}

.sponsor-button:hover {
    background-color: #dadbdc;
}

.sponsor-button:active {
    border-color: #0a53be;
}

.download-button {
    flex-grow: 1;
}

.emphasize {
    text-decoration: underline;
    font-weight: bold;
}

.item-symbol-mic {
    list-style-type: "🎤 ";
}

.item-symbol-tools {
    list-style-type: "🛠 ";
}

.stage-and-audience-background {
    background: url('/img/stage-and-audience.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.planned-features-background {
    background: url('/img/prairie-679014-dark.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.Typewriter {
    display: inline;
}

.bold {
    font-weight: bold;
}

.has-tooltip {
    text-decoration: underline;
    cursor: pointer;
}

.circle-image-cropped {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
}
