@import "bootstrap-new-age-v6-0-0.css";
@import "mdx-content.css";

gradient {
    /* text-gradient */
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* bold */
    font-weight: bold;
}

.cookie-notice-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 500px;
    max-width: 100%;
    z-index: 5;
}

.image-container {
    /* nextjs/image requires the image to be placed in a container with "position: relative",
       to define a dynamic image size */
    position: relative;
}

.cursor-pointer
{
    cursor: pointer;
}

.sponsor-button {
    background-color: #dee2e6;
    flex-grow: 1;
    border: 1px solid darkgrey;
}

.sponsor-button:hover {
    background-color: #dadbdc;
}

.sponsor-button:active {
    border-color: #0a53be;
}

.download-button {
    flex-grow: 1;
}

.emphasize {
    text-decoration: underline;
    font-weight: bold;
}

.item-symbol-mic {
    list-style-type: "🎤 ";
}

.item-symbol-tools {
    list-style-type: "🛠 ";
}

.stage-and-audience-background {
    background: url('/img/stage-and-audience.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.planned-features-background {
    background: url('/img/prairie-679014-dark.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.blue-to-darkblue-background {
    background: url('/img/blue-to-darkblue.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Typewriter {
    display: inline;
}

.bold {
    font-weight: bold;
}

.has-tooltip {
    text-decoration: underline;
    cursor: pointer;
}

.circle-image-cropped {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
}

.carousel-item .image-container {  
    overflow: hidden;
    width: 100%;
    height: 50vw;
    max-height: 50vh;
}

video {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video-inner-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video-inner-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.youtube-video-placeholder {
    width: 560px;
    max-width: 100%;
    height: 338px;
    background: url('/img/camera-2008489.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    border-radius: 5px;
    padding-bottom: 0;
}

.youtube-video-placeholder-cookie-hint {
    height: fit-content;
}