@import "bootstrap-new-age-v6-0-0.css";

#getResponseNewsletterForm {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px grey;
    z-index: 10;

    /* Show by scale-in animation */
    scale: 0;
    transition-property: scale;
    transition-duration: 0.5s;
}

#getResponseNewsletterForm.visible {
    scale: 1;
}

.closeButton:hover {
    color: red;
}

@keyframes example {
    from {scale: 0;}
    to {scale: 1;}
}

#getResponseNewsletterForm input {
    width: 100%;
}

.image-container {
    /* nextjs/image requires the image to be placed in a container with "position: relative",
       to define a dynamic image size */
    position: relative;
}

.cursor-pointer
{
    cursor: pointer;
}

.sponsor-button {
    background-color: #dee2e6;
    flex-grow: 1;
    border: 1px solid darkgrey;
}

.sponsor-button:hover {
    background-color: #dadbdc;
}

.sponsor-button:active {
    border-color: #0a53be;
}

.download-button {
    flex-grow: 1;
}

.emphasize {
    text-decoration: underline;
    font-weight: bold;
}

.item-symbol-mic {
    list-style-type: "🎤 ";
}

.item-symbol-tools {
    list-style-type: "🛠 ";
}

.stage-and-audience-background {
    background: url('/img/stage-and-audience.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.planned-features-background {
    background: url('/img/prairie-679014-dark.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.blue-to-darkblue-background {
    background: url('/img/blue-to-darkblue.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kickstarter-link {
    text-decoration: none;
}

.Typewriter {
    display: inline;
}

.bold {
    font-weight: bold;
}

.has-tooltip {
    text-decoration: underline;
    cursor: pointer;
}

.circle-image-cropped {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
}

.carousel-item .image-container {  
    overflow: hidden;
    width: 100%;
    height: 50vw;
    max-height: 50vh;
}

.youtube-video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}